<footer>
  <p>{{{icon "github"}}}<a href="https://github.com/uuki/11ty-hbs-webpack" target="_blank" rel="noopener">11ty-hbs-webpack</a> based on <a href="https://github.com/clenemt/eleventy-webpack" target="_blank" rel="noopener">clenemt/eleventy-webpack</a> - 28 June 2021</p>
</footer>
