## System
.DS_Store
Thumbs.db
$RECYCLE.BIN/

## Binary
*.zip

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Development
node_modules

## env
.env.development
.env.production
.env.staging
.node-version
.ruby-version

# Build results
_dist/
.cache/
